
h1{
    color: #888888;
}

h2{
    color: #888888;
}

footer{
    margin-top:60px;
}
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.3rem;
}
.modal-video-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.3rem;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    transition: all .6s ease;
    background: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.3rem;
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-video-container {
    width: 95%;
    margin: 0px auto;
    transition: all .6s ease;
    background: rgb(255, 255, 255);
    padding: 1.5rem 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 0.3rem;
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(60, 63, 65, 0.5);
    display: table;
    transition: opacity .6s ease;
}
.btn {
    outline: none !important;
    padding: 8px 14px;
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10px;
}


.modal-footer {
    padding: 4px 12px;
    text-align: left;
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-backdrop {
    background: rgba(59, 64, 69, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-title {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(100, 100, 100);
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.modal-body {
    color: rgb(180, 180, 180);
    font-family: 300 16px/22px "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}